#root {
  padding: 50px;
}
.li-dot {
  padding-left: 18px;
  position: relative;
}
.li-dot::after {
  width: 6px;
  height: 6px;
  content: '';
  background: #000;
  position: absolute;
  left:0;
  /* top:50%;
  transform: translateY(-50%); */
  top:9px;
  border-radius: 50%;
}